<!DOCTYPE html>
<html layout:decorator="extends/layout">
<head>
    <meta charset="UTF-8" />
    <title ></title>
</head>
<body layout:fragment="content" class="yzit-app">
   <div>
       <fieldset class="layui-elem-field layui-field-title" >
           <blockquote class="layui-elem-quote">
               <div  class="layui-form layui-form-pane">
                   <div class="layui-form-item" style="margin-bottom: 0;">
                       <label class="layui-form-label">用户名</label>
                       <div class="layui-input-inline">
                           <input type="text"  placeholder="用户名查询"  class="layui-input">
                       </div>
                       <div class="layui-input-inline">
                           <button class="layui-btn layui-btn-primary">
                               <i class="layui-icon">&#xe615;</i>
                               查询</button>
                       </div>
                       <div class="layui-input-inline">
                           <button class="layui-btn layui-btn-normal" id="addUser" sec:authorize="hasAuthority('system:user:add')">
                               <i class="layui-icon">&#xe654;</i>
                               新增用户
                           </button>
                       </div>
                   </div>
               </div>
           </blockquote>
       </fieldset>
       <div>
           <table id="user-table" lay-filter="test"></table>
       </div>
   </div>
</body>
</html>
<script type="text/html" id="formTpl">
    <form class="layui-form" action="" style="max-width: 400px;">
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-block">
                <input type="hidden" name="id" value="{{d.id || ''}}" >
                <input type="text" name="username" value="{{d.username || ''}}" required lay-verType="tips"  lay-verify="required" placeholder="请输入用户名" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
                <input type="password" name="password" value="{{d.password || ''}}" required lay-verType="tips" lay-verify="required|password" placeholder="请输入用户名" class="layui-input">
            </div>
        </div>
        <div  class="layui-form-item">
            <label class="layui-form-label">角色</label>
            <div  class="layui-input-block">
                <select name="role">
                    {{# layui.each(d.roles,function(index, item){  }}
                        <option value="{{item.id}}" {{ d.role?(d.role.id==item.id?"selected":""):"" }}  >{{ item.name }}</option>
                    {{# }); }}
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                <a class="layui-btn layui-btn-primary btn-cancel"  >取消</a>
            </div>
        </div>
    </form>
</script>
<script type="text/html" id="barDemo">
    <a sec:authorize="hasAuthority('system:user:edit')" class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a sec:authorize="hasAuthority('system:user:del')" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>

    layui.use(['table','layer','form','laytpl'], function(){
        var layer = layui.layer,
            table = layui.table,
            form = layui.form,
            laytpl = layui.laytpl,
            $ = layui.jquery;

        var roles = [];

        //加载角色列表
        $.get('/role/list.json').then(function(rep){
            roles = rep.data;
        });

        var userTable = table.render({
            elem: '#user-table'
            ,height: 315
            ,url: '/user/list.json'
            ,page: true
            ,cols:[
                [
                   {field: 'username', title: '用户名', width:120}
                    ,{field: 'password', title: '密码', width: 177}
                    ,{ title: '角色', width:80, templet:'<div>{{d.role.name}}</div>'}
                    ,{field: 'experience', title: '积分', width: 80, sort: true}
                    ,{field: 'score', title: '评分', width: 80, sort: true}
                    ,{field: 'classify', title: '职业', width: 80}
                    ,{field: 'wealth', title: '财富', sort: true},
                    {fixed: 'right',title: '操作', width:220, align:'center', toolbar: '#barDemo'}
                ]
            ]
        });
        /**
         * 添加用户按钮事件
         */
        $("#addUser").on("click",function () {
            layer.open({
                content:laytpl(formTpl.innerHTML).render({roles:roles}),
                area: ['100%', '100%'],
                anim:2,
                btn:null,
                title:'新增用户'
            });
            form.render();
        });

        /**
         * 取消表单事件
         */
        $(".yzit-app").delegate('.btn-cancel','click',function () {
            layer.closeAll();
        });

        /**
         * 提交表单
         */
        form.on('submit(formDemo)', function(data){
            var type = data.field.id?'put':'post';
            $[type]('/user',data.field).success(function (rep) {
                if(rep.code == 0) {
                    layer.msg(rep.msg,{offset: 't'});
                    userTable.reload();
                }else{
                    alert(rep.msg);
                }
            })
            return false;
        });

        /**
         * 自定义表单验证
         */
        form.verify({
           password:[
               /^[\S]{3,20}$/
               ,'密码必须3到20位，且不能出现空格'
           ]
        });

        /**
         * 编辑和删除事件
         */
        table.on('tool(test)',function (obj) {
            if(obj.event == 'del') {
                layer.confirm('是否要删除该用户（'+obj.data.username+'）?',{icon:3,title:'提示'},function () {
                    $.delete("/user/" + obj.data.id).success(function (rep) {
                        if(rep.code == 0) {
                            layer.msg(rep.msg,{offset: 't'});
                            userTable.reload();
                        }else{
                            alert(rep.msg);
                        }
                    })
                })
            }else if(obj.event == 'edit') {
                layer.open({
                    content:laytpl(formTpl.innerHTML).render($.extend({roles:roles},obj.data)),
                    area: ["450px", '100%'],
                    offset: 'r',
                    btn:null,
                    title:'编辑用户',
                    shadeClose:true,
                    anim:5

                });
                form.render();

            }
        })
    });
</script>