<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>

<div th:fragment="footer">
    <script src="https://cdn.hcharts.cn/highcharts/highcharts.js"></script>
    <script src="/static/plugins/layui/layui.js"></script>
    <script>
        layui.define(['jquery'],function (exports) {
            var $ = layui.jquery;

            $.get = function (url) {
                return $.ajax({
                    contentType:'application/json',
                    url:url,
                    type:'get',
                }).error(function (rep) {
                    layer.alert(rep.responseJSON.message);
                })
            }

            $.post = function (url,data) {
                return $.ajax({
                    url:url,
                    type:'post',
                    data:data
                }).error(function (rep) {
                    layer.alert(rep.responseJSON.message);
                })
            }

            $.delete = function (url) {
                return $.ajax({
                    contentType:'application/json',
                    url:url,
                    type:'DELETE'
                }).error(function (rep) {
                    layer.alert(rep.responseJSON.message);
                })
            };

            $.put = function (url,data) {
                return $.ajax({
                    url:url,
                    type:'PUT',
                    data:data
                }).error(function (rep) {
                    layer.alert(rep.responseJSON.message);
                })
            }
        })


    </script>
</div>

</body>
</html>